<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sendwarmth">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 安装安装包 -->
    <uses-permission android:name="android.permission.REPLACE_EXISTING_PACKAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 前台服务 安卓9.0 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ServiceSubjectActivity" />
        <activity android:name=".MyActivityActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ProductOrderCommentActivity" />
        <activity android:name=".ProductOrderDetailActivity" />
        <activity android:name=".SetNewPasswordActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ProductOrderActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".LocationSelectActivity" />
        <activity android:name=".ProductOrderingActivity" />
        <activity android:name=".NewFriendsCircleActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="njms8uawB7ezOytKktK1SiyDQHzQ2jxc" />

        <activity android:name=".AttendantInformationActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".NewInterestingActivityActivity" />
        <activity android:name=".MyInformationActivity" />
        <activity android:name=".NewHealthBroadcastActivity" />
        <activity
            android:name=".ProductActivity"
            android:theme="@style/ImageFitSystemWindowsStyle" />
        <activity
            android:name=".PensionInstitutionActivity"
            android:theme="@style/ImageFitSystemWindowsStyle" />
        <activity
            android:name=".FriendsCircleActivity"
            android:theme="@style/ImageFitSystemWindowsStyle" />
        <activity
            android:name=".HealthBroadcastActivity"
            android:theme="@style/ImageFitSystemWindowsStyle" />
        <activity
            android:name=".InterestringActivityActivity"
            android:theme="@style/ImageFitSystemWindowsStyle" />
        <activity android:name=".OrderingActivity" />
        <activity android:name=".ServiceWorkActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.sendwarmth.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>